html body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	text-align:	center;
	background-repeat: no-repeat;
	background-image : url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508343372927&di=8994f7a5de06be676a12abe1dbc82d73&imgtype=0&src=http%3A%2F%2Fimg.ph.126.net%2F6RBB9MjwYPm75AibfUoK2g%3D%3D%2F3046403672940777949.jpg");
}

a {
	text-decoration: none;
}

#back {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 80px;
	height: 30px;
	background-color: #368590;
	font-weight: bold;
	font-family: Arial;
	color: #00CC00;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black; 
	cursor: pointer;
}

#back a {
	color: #00CC00;
	font-weight: bold;
	font-family: Arial;	
}

#back:active {
    box-shadow: 0 0 5px 5px dodgerblue;
}

#title #main_title {
	font-weight: bold;
	font-size: 30pt;
	margin: auto;
	margin-top: 16px;
	margin-bottom: 10px;
}

#title #second_title {
	margin: 0 auto;
	font-size: 15pt;
}

#result {
	width: auto;
	height: 45px;
	margin: auto;
	margin-top: 5px;
	font-size: 12pt;
	font-weight: bold;
	line-height: 50px;
}

#maze {
	position: relative;
	height: 415px;
	width: 650px;
	margin: auto;
	margin-top: 15px;
}

#maze_1 {
	position: absolute;
	height : 130px;
	width : 210px;
	background-color: #368590;
	border: 1.5px solid black;
	border-right: 0;
	border-bottom: 0;
}


#maze_2 {
	position: absolute;
	height: 130px;
	width: 230px;
	left: 210px;
	background-color: #368590;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
}

#maze_3 {
	position: absolute;
	height : 130px;
	width : 210px;
	right: 0;
	background-color: #368590;
	border: 1.5px solid black;
	border-left: 0;
	border-bottom: 0;
}


#maze_4 {
	position: absolute;
	height : 70px;
	width : 270px;
	bottom: 0;
	background-color: #368590;
	border: 1.5px solid black;
	border-right: 0;
}


#maze_5 {
	position: absolute;
	height : 70px;
	width : 110px;
	bottom: 0;
	left: 270px;
	background-color: #368590;
	border: 1.5px solid black;
	border-left: 0;
}


#maze_6 {
	position: absolute;
	height : 70px;
	width : 270px;
	bottom: 0;
	right: 0;
	background-color: #368590;
	border: 1.5px solid black;
	border-left: 0;
}


#maze_7 {
	position: absolute;
	height: 150px;
	width: 210px;
	top: 131.5px;
	background-color: #368590;
	border: 1.5px solid black;
	border-top: 0;
}


#maze_8 {
	position: absolute;
	height: 150px;
	width: 210px;
	top: 131.5px;
	right: 0;
	background-color: #368590;
	border: 1.5px solid black;
	border-top: 0;
}


#maze_9 {
	position: absolute;
	height: 150px;
	width: 110px;
	bottom: 71.5px;
	left: 270px;
	background-color: #368590;
	border: 1.5px solid black;
	border-bottom: 0;
}


#example {
	margin: auto;
	height: 30px;
	width: 120px;
	background-color: #368590;
	border: 1.5px solid black;
}

#last_text {
	padding-right: 685px;
}

#start {
	text-align: center;
	font-size: 24pt;
	line-height: 55px;
	position: absolute;
	background-color: #FB9518;
	height: 58px;
	width: 58px;
	top: 282px;
	border: 1.5px solid black;
	cursor: pointer;
}

#end {
	text-align: center;
	font-size: 24pt;
	line-height: 50px;
	position: absolute;
	background-color: #2B2F5B;
	height: 58px;
	width: 58px;
	top: 282px;
	right: 0;
	border: 1.5px solid black;
}