doctype html
html
    head
        title 用户详情
        link(rel = 'stylesheet' type = 'text/css' href = '/stylesheets/detail.css')
        link(rel = "Shortcut Icon" href = "https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif" type = "image/x-icon")
        script(type = 'text/javascript' src='http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js')
  body
    block content
