extends signin_layout

block content
  div(id = "SignUp")
    h1 登录
       form(id = "data" method = "post" onsubmit = "return checkData()")
           p 用户 ： 
              input(id = "username" name = "username" type = "text" value = "")
              span

           p 密码 ： 
              input(id = "password" name = "password" type = "text" value = "")
              span

           div(id = "error") #{error}

           input(id = "submit" name = "submit" type = "submit" value = "登录")

       a(id = "regist" href = "/regist") 注册
